
.select {
    display: inline-block;
    min-width: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.select > button {
    border: 0;
    min-width: 100px;
    padding: 5px;
    padding-right: 20px;
    text-align: left;
    width: 100%;
}

.select > hr {
    color: lightgrey;
    margin: 0;
}
